/* General entire page style. */
html {
  background-color: cadetblue;
}

/* Main header style. */
.main-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
}

#nav_logo {
  max-width: 100%;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav ul {
  display: flex;
}

nav li {
  font-size: 1rem;
  padding: 1rem;
}

/* Main body style */
main {
  position: relative;
  top: 3rem;
}
